services:
  catalogue:
    image: catalogue:v1 #--name mongodb
    container_name: catalogue
    depends_on:
      - mongodb
  mongodb:
    image: mongodb:v1 
    container_name: mongodb
  redis:
    image: redis:7.0 #--name mongodb
    container_name: redis
  mysql:
    image: mysql:v1 #--name mongodb
    container_name: mysql
  rabbitmq:
    image: rabbitmq:3 #--name mongodb
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_PASS: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    image: user:v1 #--name mongodb
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    image: cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    image: shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    image: payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    image: frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you have created network manually using docker network command