services:
  catalogue:
    build: 
      context: ./catalogue
      dockerfile: Dockerfile
    image: geethab70/catalogue:v1 #--name mongodb
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb
    image: geethab70/mongodb:v1 
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis:
    image: redis:7.0 #--name mongodb
    container_name: redis
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: geethab70/mysql:v1 #--name mongodb
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3 #--name mongodb
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
  user:
    build: ./user
    image: geethab70/user:v1 #--name mongodb
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    build: ./cart
    image: geethab70/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: geethab70/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: geethab70/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend
    image: geethab70/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you have created network manually using docker network command

volumes:
  mongodb: #docker volume create mongodb
  redis:
  mysql:
  rabbitmq: